@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: crimson;
    height: 60px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    margin-right: 30px;
}
nav a, nav a:visited, nav a:link {
    padding: 5px 15px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.content-box {
    display: flex;
    justify-content: space-between;
}
.form-control {

}

.add-box {
    width: 400px;
}

label {
    display: block;
    font-size: 20px;
}
input, textarea, select, option {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}
button {
    padding: 10px 25px;
    border: 1px solid black;
    color: white;
    background-color: crimson;
    margin-top: 10px;
    font-size: 20px;
}

.category-main {
    padding: 15px 5px 3px 5px;
    font-size: 20px;
    margin: 0;
}

.category-parent {
    padding-left: 10px;
    color: gray;
}

a, a:visited, a:link {
    font-size: 0.8rem;
    color: silver;
    text-decoration: none;
}

a:hover {
    color: black;
}

.text-red {
    color: crimson !important;
}
.text-blue {
    color: cornflowerblue !important;
}

.footer {
    width: 100%;
    background-color: crimson;
    padding: 20px;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
}